.vs/
**/.vs/
*.user
*.VC.db
*.VC.opendb
*.suo
Debug/
Release/
x64/
x86/
ExplorerMaps/**/*.jpg
ExplorerMaps/**/*.jpeg
!ExplorerMaps/Texturas/moon.jpg
!ExplorerMaps/Texturas/sun.jpg
!ExplorerMaps/modelos/Coches/Car_1/textures/*.jpeg
